<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/lib/materialize/css/materialize.css">
    <link rel="stylesheet" href="/static/lib/iconfont/material-icons.css">
    <link rel="stylesheet" href="/static/lib/css/common.css">
    <link rel="stylesheet" href="/static/job/job.css">
</head>
<body>
    <header>
        {% include 'public/nav.html' %}
    </header>
    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/index/parallax1.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h4>招聘新闻:</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><a href="javascript:void(0)">First<span class="badge">2016-08-09</span></a></div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><a href="javascript:void(0)">First<span class="badge">2016-08-09</span></a></div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><a href="javascript:void(0)">First<span class="badge">2016-08-09</span></a></div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>

            </ul>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/index/parallax2.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h4>现场招聘:</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>

            </ul>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/index/parallax1.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h4>常见问题:</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/index/parallax1.jpg"></div>
    </div>

    {% include 'public/footer.html' %}

<script src="/static/job/job.js"></script>
</html>