<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.css" />
</head>
<body>
    <div class="container-fluid">

        <div class="header row">
            <ol class="breadcrumb">
              <li><a href="{% url 'blog_get_blogs' %}">博客</a></li>
              <li><a href="{% url 'blog_get_detail' blog.id %}">{{ blog.title }}</a></li>
            </ol>

        </div>
        <div class="content container">
            <div class="blog">
                <div class="title text-center">
                    <h2>{{ blog.title }}</h2>
                </div>
                <div class="info">
                    <div class="category"><span class="label label-default">New{{ blog.category.name }}</span></div>
                    <div class="author">作者:{{ blog.author }}</div>
                    <div class="created">时间:{{ blog.created|date:'Y-m-d H:i' }}</div>

                </div>
                <p class="summary">
                    {{ blog.content }}
                </p>
            </div>
            <div class="comment">
                <div class="comments-display">
                    <h3>评论</h3>
                    {% for comment in comments %}
                        <div class="comment-field">
                        {{ comment.name }}说:{{ comment.content }}
                        </div>
                    {% endfor %}

                </div>
                <div class="comment-post">
                    <h3>提交评论</h3>
                    <form action="{% url 'blog_get_detail' blog.id %}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ field.label }}</label>
                                    <div class="col-sm-10">
                                      {{ field }}
                                    </div>
                                </div>


                                <div class="error">
                                    {{ field.errors }}
                                </div>
                            </div>


                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default" type="submit">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="/static/lib/js/jquery-3.1.0.min.js"></script>
<script src="/static/lib/js/bootstrap.js"></script>
</html>