<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myBlog</title>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/css/common.css">
</head>
<body>
    <div class="container-fluid">


        <div class="header row">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'blog_get_blogs' %}">
                    my blog
                  </a>
                </div>
              </div>
            </nav>
        </div>
        {% for blog in blogs %}
            <div class="blog container">
                <div class="title">
                    <a href="{% url 'blog_get_detail' blog.id %}">
                        <h2>
                            {{ blog.title }}
                        </h2>
                    </a>
                </div>
                <p class="summary">
                    {{ blog.content|truncatewords:100 }}
                </p>
                <div class="row">
                    <div class="info pull-right">
                        <small class="category">标签: {{ blog.category }}</small>
                        <small class="author">作者: {{ blog.author }}</small>
                        <small class="created">时间: {{ blog.created|date:'Y-m-d H:i' }}</small>
                    </div>
                </div>


            </div>
        {% endfor %}
    </div>

</body>
<script src="/static/lib/js/jquery-3.1.0.min.js"></script>
<script src="/static/lib/js/bootstrap.js"></script>
</html>