<html>
<head>

</head>
<body>
    <h1> Sign In</h1>
    <form action="/login" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            please enter your Name:<br>
            {{ form.name(size=80) }}<br>
        </p>
        <p>
            password: <br>
            {{ form.password }}
        </p>
        <p>
            {{ form.remember_me }} Remember Me?
        </p>
        <p>
            <input type="submit" value="Sign In">
        </p>
    </form>
</body>
</html>